@tailwind base;
@tailwind components;
@tailwind utilities;

  [data-theme="light"]{
    --foreground: #000000;
    --background: #fafafa;
  }
  [data-theme="dark"] {
    --background: #030303;
    --foreground: #ffffff;
  }
@media (prefers-color-scheme: light ) {
  :root {
    --foreground: #040404;
    --background: #fafafa;
  }
}
html{
  color-scheme: dark light;
}

body {
  font-family: Helvetica, sans-serif;
  transition: color;
  animation-duration: 6000ms;
  color: var(--foreground);
  background-color: var(--background);
}
.dark body{
  animation-duration: 6000ms;
  @apply bg-[#030303] text-white;
}
@layer utilities{
  .text-balance{
    text-wrap:balance;
  }
}
/* .Navbar{
  border-radius: 30px 30px 30px 30px;
} */
 /* #Main{
  background-image: url('../public/images/background.jpg');
 } */
  